<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="/images/Itzikgur-My-Seven-Travel-BMV.ico" type="image/x-icon">
<!--        <script src="/js/jquery-3.5.1.slim.min.js"></script>-->
<!--        <script src="/js/bootstrap.min.js"></script>-->
    </th:block>
</head>
<body>

<header th:fragment="header">

    <section class="header-section">

        <article class="article-car">
            <a href="/">
                <img class="article-car-image" src="/images/2021_mercedes_benz_s_class_angularfront-removebg-preview.png" alt="picturte">
            </a>
        </article>
        <nav class="header-nav">
            <ul class="header-nav-ul index">
                <li sec:authorize="hasRole('ADMINISTRATOR')">
                    <a class="drop-btn admin" href="#" ><i class="fas fa-angle-down"></i> <span th:text="#{adminText}"></span> </a>
                    <ul class="dropdown-menu admin" style="display: none;">
                        <li><a href="#home" class="a-btn">Home</a></li>
                        <li> <a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#allUsers" th:text="#{viewUsersText}">All Users</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated() && hasRole('USER')">
                    <a class="drop-btn user" href="#" ><i class="fas fa-angle-down"></i> <span th:text="#{userText}"></span></a>
                    <ul class="dropdown-menu user" style="display: none;">
                        <li><a href="#Profile" class="a-btn" th:text="#{profile}">Profile</a></li>
                        <li> <a href="#Settings" th:text="#{setting}">Settings</a></li>
                        <li> <a href="#myOffers" th:text="#{myOffersText}">My Offers</a></li>
                        <li>
                            <form class="lang-form" th:method="get" th:action="@{/}">
<!--                                <label th:text="#{language}" for="lang"></label>-->
                                <select
                                        onchange="this.form.submit()"
                                        id="lang"
                                        name="lang">
                                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                                </select>
                            </form>
                           </li>
                    </ul>
                </li>

                <li sec:authorize="isAuthenticated()"><a th:href="@{/users/offers/add}" class="btn-link index" ><i class="fas fa-bullhorn"></i> <span th:text="#{createOfferText}"></span></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/users/offers/all}" class="btn-link index" ><i class="fas fa-car-alt" ></i> <span th:text="#{allCarsText}"></span></a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/users/register}" class="btn-link index" ><i class="fas fa-id-card"></i> <span th:text="#{registerText}"></span></a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/users/login}" class="btn-link index" ><i class="fas fa-sign-in-alt"></i> <span th:text="#{loginText}"></span></a></li>
<!--                <li sec:authorize="isAuthenticated()">-->
<!--                    <form th:action="@{/users/logout}" th:method="post">-->
<!--                        <input class="submit-logout-btn" type="submit" value="Logout">-->
<!--                    </form>-->
<!--                    <a><i class="fas fa-sign-out-alt"> <input  type="submit"></i> Logout</a>-->
<!--                </li>-->
                <li class="logout-btn-style" sec:authorize="isAuthenticated()">
                    <form th:action="@{/users/logout}" th:method="post">
                        <i class="fas fa-sign-out-alt color"> <input class="submit-logout-btn" type="submit" th:value="#{logoutText}"></i>
                    </form>
                </li>
            </ul>
        </nav>
    </section>

</header>

<script th:fragment="script-index" src="/js/index-app.js"></script>
</body>
</html>