.create-offer-container {
    /*display: flex;*/
    /*justify-content: center;*/
    max-width: 80%;
    margin: 6% auto auto auto;
    /*border: solid 1px rgba(59, 59, 59, 0.64);*/
    background-color: rgba(59, 59, 59, 0.64);
    padding-bottom: 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    /* padding: 10
px
 0 0 0; */
    align-items: center;
    flex-direction: row;
}

/*.row:first-child {*/
/*    padding-top: 1%;*/
/*    !*display: block;*!*/
/*    justify-content: start;*/
/*    margin-left: 3%;*/
/*    max-width: 20%;*/
/*}*/
.invalid-offer-create {
    margin: 0;
}

.create-offer-form-section-article.column.only {
    display: flex;
    align-items: stretch;
}

.create-offer-form-section-article.column.only > article:first-child {
    margin: 0 5px 0 0;
}

.ico-img {
    color: black;
    background-color: black;
}

.vehicle-icon {
    font-size: 40px;
    margin-left: 10px;
}

.create-offer-form-section-row-column {
    display: flex;
}

.extras-article-ul {
    /*display: flex;*/
    flex-wrap: wrap;
    display: none;
    max-width: 100%;
}

.extras-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.column label {
    color: white;
}

.extras-ul > li {
    display: flex;
    justify-content: space-around;
}

.create-btn {
    font-size: 18px;
}

.extras-btn {
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    border-bottom: whitesmoke 1px solid;
}

select {
    width: 150px;
    margin: 0 5px 0 5px;
}

#kilometer {
    max-width: 150px;
    margin-right: 5px;
}

#loadFirstInput {
    margin-right: 156px;
}

#cubature {
    margin-left: 5px;
    max-width: 147px;
}

#modification {
    max-width: 146px;
}

#power {
    max-width: 145px;
    margin-left: 5px;
}

#emissionClass , #vehicleModel{
    margin-left: 1px;
}

#price {
    max-width: 148px;
}
#priceType {
    margin-left: 1px;
}

.create-submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

/*.extras-article {*/
/*    margin-top: 7%;*/
/*}*/


.extras-section-btn {
    display: flex;
    justify-content: center;
    /*border: aqua 5px solid;*/
    margin-top: 2%;
    font-size: 18px;
}

/*.extras-section {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.vehicle-category {
    display: flex;
    justify-content: center;
    padding-top: 1%
}

.fa-clipboard-check {
    color: whitesmoke;
    font-size: 25px;
}

/* MEDIA QUERIES*/

@media (min-width: 1459px) and (max-width: 1688px) {}

@media (min-width: 1689px) {}

@media (min-width: 980px) and (max-width: 1458px) {
    .header-nav-ul.index>li {
        font-size: 22px;
    }
}

@media (min-width: 700px) and (max-width: 979px) {
    /* .header-nav-ul.index {
        display: block;
    } */
    .header-nav-ul.index>li {
        font-size: 16px;
    }
    #power , #loadFirstInput,#cubature,#emissionClass,#kilometer,#modification,#price,#priceType,#vehicleModel,#picture,#vehicleYear,#model,#brand,#transmission,#carCoupe,#statusUsed,#exteriorColor,#doorCount,#fuelType,#vehicleStatus{
        max-width: 90px;
    }
    span {
        font-size: 17px;
    }
}

@media (min-width: 500px) and (max-width: 699px) {
    /* .header-nav-ul.index {
        display: block;
    } */
    .header-nav-ul.index>li {
        font-size: 10px;
        font-weight: 700;
    }
    .article-car-image {
        width: 80px;
    }
    #power , #loadFirstInput,#cubature,#emissionClass,#kilometer,#modification,#price,#priceType,#vehicleModel,#picture,#vehicleYear,#model,#brand,#transmission,#carCoupe,#statusUsed,#exteriorColor,#doorCount,#fuelType,#vehicleStatus{
        max-width: 80px;
    }
    span {
        font-size: 15px;
    }
}

@media (min-width: 360px) and (max-width: 499px) {
    /* .header-nav-ul.index {
        display: block;
    } */
    .header-nav-ul.index>li {
        font-size: 10px;
        font-weight: 900;
    }
    .article-car-image {
        width: 70px;
    }

    #power , #loadFirstInput,#cubature,#emissionClass,#kilometer,#modification,#price,#priceType,#vehicleModel,#picture,#vehicleYear,#model,#brand,#transmission,#carCoupe,#statusUsed,#exteriorColor,#doorCount,#fuelType,#vehicleStatus{
        max-width: 50px;
    }
    span {
        font-size: 10px;
    }
}