<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar::head">

    <title>Create Offer</title>
</head>

<body>
    <header th:replace="fragments/navbar::header"></header>
    <main>
        <div class="create-offer-container">

            <form th:action="@{/users/offers/add}"
            th:method="post"
            enctype="multipart/form-data">

                <section class="create-offer-form-section row vehicle-category">
                    <article class="create-offer-form-section-article column">
                        <label for="vehicleCategory"><span th:text="#{mainCategoryText}"></span></label>
                        <br>
                        <select name="vehicleType" id="vehicleType" class="vehicle-type">
                        <!-- <option value="Chose type of the vehicle" class="vehicle-type-names">---</option> -->
                            <option value="choose" class="vehicle-type-names"><span th:text="#{mainCategoryText}"></span></option>
<!--                        <option value="Bus" class="vehicle-type-names">Bus</option>-->
<!--                        <option value="Motorcycle" class="vehicle-type-names">Motorcycle</option>-->
<!--                        <option value="Truck" class="vehicle-type-names">Truck</option>-->
                        <!-- <option value="Caravan" class="vehicle-type-names">Caravan</option> -->
<!--                        <option value="Boat" class="vehicle-type-names">Yacht and Boat</option>-->
                        <!-- <option value="Construction" class="vehicle-type-names">Construction</option>
                        <option value="Agricultural" class="vehicle-type-names">Agricultural</option> -->
                    </select>
                    </article>
                    <article class="vehicle-icon">
                        <i class="fas fa-car-side ico" style="display: none;"></i>
                        <i class="fas fa-bus ico" style="display: none;"></i>
                        <i class="fas fa-motorcycle ico" style="display: none;"></i>
                        <i class="fas fa-truck ico" style="display: none;"></i>
                        <i class="fas fa-th-list ico"></i>
<!--                        <i class="fas fa-ship ico" style="display: none;"></i>-->
                    </article>
                </section>

                <!--  -->

                <section class="create-offer-form-section row">

                    <section class="create-offer-form-section-row-column">

                        <article class="create-offer-form-section-article column">
                            <label for="brand"><span th:text="#{brandText}"></span></label>
                            <br>
                            <select name="brand" id="brand" disabled>
                                <option value="choose"><span th:text="#{chooseBrandText}"></span></option>
                                <option value="">BMW</option>
                                <option value="">Mercedes-Benz</option>
                            </select>
                        </article>

                        <article class="create-offer-form-section-article column">
                            <label for="model"><span th:text="#{modelText}"></span></label>
                            <br>
                            <!-- HERE YOU CAN USE REST API WITH JS -->
                            <select name="model" id="model" disabled>
                                <option value="choose"><span th:text="#{chooseModelText}"></span></option>
                            </select>
                        </article>
                    </section>

                    <section class="create-offer-form-section-row-column">

                        <article class="create-offer-form-section-article column">
                            <label for="vehicleStatus"><span th:text="#{statusText}"></span></label>
                            <br>
                            <select class="vehicle-Status" name="vehicleStatus" id="vehicleStatus">
                                <option th:each="status : ${T(com.example.carssale.model.entity.enums.VehicleStatusEnum).values()}" th:value="${status}" th:text="${status}">---</option>
                            </select>
                        </article>

                        <article class="create-offer-form-section-article column">
                            <label for="transmission"><span th:text="#{transmissionText}"></span></label>
                            <br>
                            <select name="transmission" id="transmission" disabled>
                                <option value="">---</option>
                                <!--                            <option value="">AUTOMATIC</option>-->
                                <!--                            <option value="">MANUAL</option>-->
                            </select>
                        </article>
                    </section>
                </section>

                <section class="create-offer-form-section row">

                    <section class="create-offer-form-section-row-column">

                        <article class="create-offer-form-section-article column">
                            <label for="fuelType"><span th:text="#{fuelTypeText}"></span></label>
                            <br>
                            <select name="fuelType" id="fuelType" disabled>
                                <option value="">---</option>
<!--                                <option value="">BENZIN</option>-->
<!--                                <option value="">DIESEL</option>-->
<!--                                <option value="">GAS/BENZIN</option>-->
<!--                                <option value="">GAS</option>-->
<!--                                <option value="">METAN/BENZIN</option>-->
<!--                                <option value="">METAN</option>-->
<!--                                <option value="">HYBRID</option>-->
                            </select>
                        </article>

                        <article class="create-offer-form-section-article column">
                            <label for="modification"><span th:text="#{modificationText}"></span></label>
                            <br>
                            <input type="text" name="modification" id="modification" placeholder="1.6 dCI, 2.2 TDI...">
                        </article>
                    </section>

                    <section class="create-offer-form-section-row-column">

                        <article class="create-offer-form-section-article column">
                            <label for="carCoupe"><span th:text="#{coupeText}"></span></label>
                            <br>
                            <select name="carCoupe" id="carCoupe" disabled>
                                <option value="">---</option>
                                <!--                            <option value="">SEDAN</option>-->
                                <!--                            <option value="">HATCHBACK</option>-->
                            </select>
                        </article>

                        <article class="create-offer-form-section-article column">
                            <label for="doorCount"><span th:text="#{doorCountText}"></span></label>
                            <br>
                            <select name="doorCount" id="doorCount">
<!--                                <option value="">-&#45;&#45;</option>-->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </article>
                    </section>
                </section>

                <!--  -->


                <section class="create-offer-form-section-article row">

                    <section class="create-offer-form-section-row-column">

                        <article class="create-offer-form-section-article column">
                            <label for="power"><span th:text="#{powerText}"></span></label>
                            <br>
                            <input type="number" name="power" id="power">
                            <!-- <span class="vehicle-span">HP</span> -->
                        </article>


                        <article class="create-offer-form-section-article column">
                            <label for="statusUsed"><span th:text="#{usedOrNewText}"></span></label>
                            <br>
                            <select name="statusUsed" id="statusUsed">
                                <option th:each="status : ${T(com.example.carssale.model.entity.enums.StatusUsedEnum).values()}" th:value="${status}" th:text="${status}">Used</option>
<!--                                <option value="new">New</option>-->
                            </select>
                        </article>

                    </section>


                    <section class="create-offer-form-section-row-column">
                        <article class="create-offer-form-section-article column">
                            <label for="vehicleYear"><span th:text="#{yearText}"></span></label>
                            <br>
                            <!-- HERE HAVE TO USE YEAR SELECTION -->
                            <select name="vehicleYear" id="vehicleYear" disabled>
                                <option value="">---</option>
                                <!--                            <option value="">1994</option>-->
                            </select>
                        </article>
                        <article class="create-offer-form-section-article column">
                            <label for="kilometer"><span th:text="#{kilometerText}"></span></label>
                            <br>
                            <input type="number" id="kilometer" name="kilometer" size="10">
                        </article>
                    </section>

                </section>

                <section class="create-offer-form-section-article row">

                    <section class="create-offer-form-section-row-column">
                        <article class="create-offer-form-section-article column">
                            <label for="exteriorColor"><span th:text="#{exteriorColorText}"></span></label>
                            <br>
                            <select name="exteriorColor" id="exteriorColor">
                                <option th:each="color : ${T(com.example.carssale.model.entity.enums.ExteriorColorEnum).values()}" th:value="${color}" th:text="${color}">---</option>
<!--                                <option value="">BLUE</option>-->
<!--                                <option value="">RED</option>-->
<!--                                <option value="">BLACK</option>-->
                            </select>
                        </article>
                        <article class="create-offer-form-section-article column">
                            <label for="emissionClass"><span th:text="#{emissionClassText}"></span></label>
                            <br>
                            <select name="emissionClass" id="emissionClass">
<!--                                <option value="choose">-&#45;&#45;</option>-->
                                <option value="EURO1">EURO1</option>
                                <option value="EURO2">EURO2</option>
                                <option value="EURO3">EURO3</option>
                                <option value="EURO4">EURO4</option>
                                <option value="EURO5">EURO5</option>
                                <option value="EURO6">EURO6</option>
                            </select>
                        </article>
                    </section>

                    <article class="create-offer-form-section-article column">
                        <label for="price"><span th:text="#{priceText}"></span></label>
                        <br>
                        <input type="number" id="price" name="price">
                        <select name="priceType" id="priceType">
                            <!-- <option value="">Choose Price Type</option> -->
                            <option th:each="priceType : ${T(com.example.carssale.model.entity.enums.PriceTypeEnum).values()}" th:text="${priceType}" th:value="${priceType}">BGN</option>
<!--                            <option value="">EUR</option>-->
<!--                            <option value="">USD</option>-->
                        </select>
                    </article>
                </section>

                <section class="create-offer-form-section-article row">
                    <article class="create-offer-form-section-article column">
                        <label for="picture"><span th:text="#{uploadPictureText}"></span></label>
                        <br>
                        <input type="button" id="loadFirstInput" value="Cover picture"/>
                        <input name="picture" id="picture" type="file" style="display: none">

                        <input name="picture"  type="file">
                        <br>
                        <input name="picture" type="file">
                        <input name="picture" type="file">
                    </article>
                    <!-- <article class="create-offer-form-section-article column"></article> -->
                </section>

                <section class="extras-section-btn">
                    <article class="extras-article">
                        <!-- <section class="create-offer-form-section-article row dropdown"> -->
                        <a class="extras-btn" href="#"> <span th:text="#{featureText}"></span> <i class="far fa-check-circle"></i></a>

                        <!-- </section> -->
                    </article>
                </section>
                <section class="extras-section">
                    <article class="extras-article-ul">
                        <ul class="dropdown-extras extras extras-ul">
                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="abs">ABS</label>
                                    <input type="checkbox" name="features" id="abs" value="abs">
                                </article>

                                <article class="dropdown-extras-li">
                                    <label for="esp">ESP</label>
                                    <input type="checkbox" name="features" id="esp" value="esp">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="esp">ESP</label>
                            <input type="checkbox" name="esp" id="esp" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="cruiseControl">Cruise Control</label>
                                    <input type="checkbox" name="features" id="cruiseControl" value="cruise_control">
                                </article>
                                <article class="dropdown-extras-li">
                                    <label for="alarmSystem">Alarm system</label>
                                    <input type="checkbox" name="features" id="alarmSystem" value="alarm_system">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="alarmSystem">Alarm system</label>
                            <input type="checkbox" name="alarmSystem" id="alarmSystem" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="bluetooth">Bluetooth</label>
                                    <input type="checkbox" name="features" id="bluetooth" value="bluetooth">
                                </article>
                                <article class="dropdown-extras-li">
                                    <label for="centralLocking">Central Locking</label>
                                    <input type="checkbox" name="features" id="centralLocking" value="central_locking">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="centralLocking">Central Locking</label>
                            <input type="checkbox" name="centralLocking" id="centralLocking" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="electricitySideMirror">Electricity Side Mirror</label>
                                    <input type="checkbox" name="features" id="electricitySideMirror" value="electricity_sideMirror">
                                </article>
                                <article class="dropdown-extras-li">
                                    <label for="electricityWindows">Electricity Windows</label>
                                    <input type="checkbox" name="features" id="electricityWindows" value="electricity_windows">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="electricityWindows">Electricity Windows</label>
                            <input type="checkbox" name="electricityWindows" id="electricityWindows" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="immobilizer">Immobilizer</label>
                                    <input type="checkbox" name="features" id="immobilizer" value="immobilizer">
                                </article>
                                <article class="dropdown-extras-li">
                                    <label for="keylessCentralLock">Keyless Central Lock</label>
                                    <input type="checkbox" name="features" id="keylessCentralLock" value="keyless_centralLock">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="keylessCentralLock">Keyless Central Lock</label>
                            <input type="checkbox" name="keylessCentralLock" id="keylessCentralLock" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="fogLamp">Fog Lamp</label>
                                    <input type="checkbox" name="features" id="fogLamp" value="fog_lamp">
                                </article>
                                <article class="dropdown-extras-li">
                                    <label for="rainSensor">Rain sensor</label>
                                    <input type="checkbox" name="features" id="rainSensor" value="rain_sensor">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="rainSensor">Rain sensor</label>
                            <input type="checkbox" name="rainSensor" id="rainSensor" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="navigationSystem">Navigation system</label>
                                    <input type="checkbox" name="features" id="navigationSystem" value="navigation_system">
                                </article>
                                <article class="dropdown-extras-li">
                                    <label for="lightSensor">Light sensor</label>
                                    <input type="checkbox" name="features" id="lightSensor" value="light_sensor">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="lightSensor">Light sensor</label>
                            <input type="checkbox" name="lightSensor" id="lightSensor" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="ledHeadLights">LED headlights</label>
                                    <input type="checkbox" name="features" id="ledHeadLights" value="ledHead_lights">
                                </article>
                                <article class="dropdown-extras-li">
                                    <label for="panoramicRoof">Panoramic roof</label>
                                    <input type="checkbox" name="features" id="panoramicRoof" value="panoramic_roof">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="panoramicRoof">Panoramic roof</label>
                            <input type="checkbox" name="panoramicRoof" id="panoramicRoof" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="sunRoof">Sun roof</label>
                                    <input type="checkbox" name="features" id="sunRoof" value="sun_roof">
                                </article>

                                <article class="dropdown-extras-li">
                                    <label for="speedLimitControlSystem">Speed Limit Control system</label>
                                    <input type="checkbox" name="features" id="speedLimitControlSystem" value="speed_limit_control_system">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="speedLimitControlSystem">Speed Limit Control system</label>
                            <input type="checkbox" name="speedLimitControlSystem" id="speedLimitControlSystem" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="voiceControl">Voice control</label>
                                    <input type="checkbox" name="features" id="voiceControl" value="voice_control">
                                </article>

                                <article class="dropdown-extras-li">
                                    <label for="headUpDisplay">Head-up display</label>
                                    <input type="checkbox" name="features" id="headUpDisplay" value="head_up_display">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="headUpDisplay">Head-up display</label>
                            <input type="checkbox" name="headUpDisplay" id="headUpDisplay" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="soundSystem">Sound system</label>
                                    <input type="checkbox" name="features" id="soundSystem" value="sound_system">
                                </article>

                                <article class="dropdown-extras-li">
                                    <label for="sportSeats">Sport seats</label>
                                    <input type="checkbox" name="features" id="sportSeats" value="sport_seats">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="sportSeats">Sport seats</label>
                            <input type="checkbox" name="sportSeats" id="sportSeats" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="startStopSystem">Start-stop system</label>
                                    <input type="checkbox" name="features" id="startStopSystem" value="start_stop_system">
                                </article>

                                <article class="dropdown-extras-li">
                                    <label for="tractionControl">Traction control</label>
                                    <input type="checkbox" name="features" id="tractionControl" value="traction_control">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="tractionControl">Traction control</label>
                            <input type="checkbox" name="tractionControl" id="tractionControl" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="tunerRadio">Tuner/radio</label>
                                    <input type="checkbox" name="features" id="tunerRadio" value="tuner_radio">
                                </article>

                                <article class="dropdown-extras-li">
                                    <label for="usbPort">USB port</label>
                                    <input type="checkbox" name="features" id="usbPort" value="usb_port">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="usbPort">USB port</label>
                            <input type="checkbox" name="usbPort" id="usbPort" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="airBag">Air bag</label>
                                    <input type="checkbox" name="features" id="airBag" value="air_bag">
                                </article>

                                <article class="dropdown-extras-li">
                                    <label for="brakeAssist">Brake assist</label>
                                    <input type="checkbox" name="features" id="brakeAssist" value="brake_assist">
                                </article>
                            </li>

                            <!-- <li>
                            <label for="brakeAssist">Brake assist</label>
                            <input type="checkbox" name="brakeAssist" id="brakeAssist" value="">
                        </li> -->

                            <li>
                                <article class="dropdown-extras-li">
                                    <label for="airCondition">Air condition</label>
                                    <input type="checkbox" name="features" id="airCondition" value="air_condition">
                                </article>

                                <article class="dropdown-extras-li">
                                    <label for="steeringWheelHeating">Steering wheel heating</label>
                                    <input type="checkbox" name="features" id="steeringWheelHeating" value="steering_wheel_heating">
                                </article>
                            </li>

                        </ul>
                    </article>
                </section>

                <section class="create-offer-form-section-article create-submit-btn">
                    <input type="submit" th:value="#{createText}" class="btn create-btn">
                </section>
            </form>

        </div>

    </main>

    <script th:replace="fragments/navbar::script-index"></script>
    <script src="/js/create-offer.js"></script>
</body>

</html>