<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/navbar :: head"></th:block>
   
    <title>Guest</title>
     <meta name="google-site-verification" content="WrTL-nXKE6qMHoO5FOmGFqJl-_OkOR1B3sAsJZy7OJg"/>
</head>
<body>
<header th:replace="fragments/navbar :: header"></header>
<main>
    <div class="guests-index-container">
      <article class="guests-index-container-article">
          <p> Welcome dear Guest,</p>
          <p> You have to <a th:href="@{/users/register}">Register</a> or <a th:href="@{/users/login}">Login</a> to use our site!</p>
      </article>
    </div>
</main>


<script th:replace="fragments/navbar :: script-index"></script>
</body>
</html>
