<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />-->
<!--    <link rel="stylesheet" href="css/style.css">-->
<!--    <link rel="shortcut icon" href="/images/Itzikgur-My-Seven-Travel-BMV.ico" type="image/x-icon">-->
    <th:block th:replace="fragments/navbar :: head"></th:block>
    <title>Cars Sale</title>
</head>

<body>

    <header th:replace="fragments/navbar :: header"></header>

    <main>
        <div class="registered-user-index-container">
            <article class="registered-user-index-container-article">
                <p class="offers-event">ALL OFFERS WILL BE DELETED IN 30 days</p>
            </article>

        </div>
    </main>

    <script th:replace="fragments/navbar :: script-index"></script>
</body>

</html>