<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:replace="fragments/navbar::head"></th:block>
    <title>Register</title>
</head>

<body>
    <header th:replace="fragments/navbar::header">


    </header>
    <main>
        <div class="register-container">


            <form class="register-form"
                  th:action="@{/users/register}"
                  method="post"
                  th:object="${userModel}">

                <h1 class="register-form-title">REGISTER FORM</h1>

                <section class="register-form-row">
                    <article class="register-form-row-column">
                        <label for="firstName">First Name</label>
                        <br>
                        <input type="text" th:field="*{firstName}" id="firstName" th:errorclass="is-invalid">
                          <p class="invalid-feedback hidden invalid-text-registration">
                              between 3 and 12 symbols.
                          </p>
                    </article>

                    <article class="register-form-row-column">
                        <label for="lastName">Last Name</label>
                        <br>
                        <input type="text" th:field="*{lastName}" th:errorclass="is-invalid" id="lastName">
                        <p class="invalid-feedback hidden invalid-text-registration">
                            between 3 and 12 symbols.
                        </p>
                    </article>
                </section>

                <section class="register-form-row">
                    <article class="register-form-row-column">
                        <label for="cityVillage">City/Village Name</label>
                        <br>
                        <!--                        <input type="text" name="cityVillgae" id="cityVillgae">-->
                        <select th:field="*{cityVillage}" id="cityVillage" th:errorclass="is-invalid" disabled>
                            <option value="select">- Select city/village -</option>
                        </select>
                        <p class="invalid-feedback hidden invalid-text-registration">
                            Please choose city/village.
                        </p>
                    </article>

                    <article class="register-form-row-column">
                        <label for="region">Region</label>
                        <br>
                        <!--                        <input type="text" name="region" id="region">-->
                        <select th:field="*{region}" id="region" th:errorclass="is-invalid">
                            <option value=" ">- Select region -</option>
                        </select>
                        <p class="invalid-feedback hidden invalid-text-registration">
                            Please choose Region!
                        </p>
                    </article>
                </section>

                <section class="register-form-row">
                    <article class="register-form-row-column">
                        <label for="email">Email</label>
                        <br>
                        <input type="text" th:field="*{email}" id="email" th:errorclass="is-invalid">
                        <p class="invalid-feedback hidden invalid-text-registration">
                            Email is not valid!
                        </p>
                    </article>

                    <article class="register-form-row-column">
                        <label for="phone">Phone</label>
                        <br>
                        <input type="number" th:field="*{phone}" id="phone" th:errorclass="is-invalid">
                        <p class="invalid-feedback hidden invalid-text-registration">
                            Phone is not valid.
                        </p>
                    </article>
                </section>

                <section class="register-form-row">
                    <article class="register-form-row-column">
                        <label for="password">Password</label>
                        <br>
                        <input type="password" th:field="*{password}" id="password" th:errorclass="is-invalid">
                        <p class="invalid-feedback hidden invalid-text-registration">
                            between 5 and 12 symbols.
                        </p>
                    </article>

                    <article class="register-form-row-column">
                        <label for="confirmPassword">Confirm Password</label>
                        <br>
                        <input type="password" th:field="*{confirmPassword}" id="confirmPassword" th:errorclass="is-invalid">
                        <p th:if="${isSame}" class="invalid-text-registration">
                                Password is not equal!
                        </p>
                        <p class="invalid-feedback hidden invalid-text-registration">
                            between 5 and 12 symbols.
                        </p>
                    </article>
                </section>
                <input type="submit" value="Register" class="register-submit-btn btn">
            </form>
        </div>
        <script th:replace="fragments/navbar::script-index"></script>
        <script src="/js/register.js"></script>
        <script src="/js/validate.js"></script>
    </main>

    <footer></footer>
</body>

</html>