<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <th:block th:replace="fragments/navbar::head"></th:block>
    <title>Vehicle Info</title>
  </head>
  <body>
  <header th:replace="fragments/navbar::header"></header>

    <main>
      <div class="vehicle-info-container">
        <section class="vehicle-info-container-section" th:object="${offer}" >
          <section class="vehicle-info-information-section" >
            <article>
              <p>Brand:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getBrand()}">test</span>
            </article>
            <article>
              <p>Model:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getModel()}">test</span>
            </article>
            <article>
              <p>Fuel type:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getFuelType()}">test</span>
            </article>
            <article>
              <p>Modification:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getModification()}">test</span>
            </article>
            <article>
              <p>Power:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getPower()}">test</span>
            </article>
            <article>
              <p>Exterior color:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getExteriorColor()}">test</span>
            </article>
            <article>
              <p>Emission class:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getEmissionClass()}">test</span>
            </article>
            <article>
              <p>Status:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getVehicleStatus()}">test</span>
            </article>
            <article>
              <p>Transmission:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getTransmission()}">test</span>
            </article>
            <article>
              <p>Coupe:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getCarCoupe()}">test</span>
            </article>
            <article>
              <p>Door count:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getDoorCount()}">test</span>
            </article>
            <article>
              <p>Year:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getVehicleYear()}">test</span>
            </article>
            <article>
              <p>Mileage:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getKilometer()}">test</span>
            </article>
            <article>
              <p>Price:</p>
              <span class="vehicle-info-information-section-article" th:text="*{getPrice() + ' ' + getPriceType()}">test</span>
            </article>
          </section>

          <article class="vehicle-img">
            <img th:src="*{getPictures().get(0).getUrl()}" class="img-main" alt="img" />

            <section class="change-pictures-btn">
              <article th:each="picture : *{getPictures()}">
                <a class="change-pictures-btn-a" th:href="${picture.getUrl()}">Picture</a>
              </article>
<!--              <article>-->
<!--                <a class="change-pictures-btn-a" th:href="${picture.getUrl()}">Picture2</a>-->
<!--              </article>-->
<!--              <article>-->
<!--                <a class="change-pictures-btn-a" th:href="${picture.getUrl()}">Picture3</a>-->
<!--              </article>-->
<!--              <article>-->
<!--                <a class="change-pictures-btn-a" th:href="${picture.getUrl()}">Picture4</a>-->
<!--              </article>-->
            </section>

            <section class="admin-user-btns">
              <!-- SHOW IT , IF THE ADMIN IS LOGGED IN! -->
              <section class="vehicle-info-admin" sec:authorize="hasRole('ADMINISTRATOR')">
                <form th:method="delete" th:action="@{/admin/delete/{id}(id= *{getId()})}">
                  <input class="admin-delete-btn" type="submit" value="Delete">
                </form>
                <!--              <a th:href="@{/admin/delete/{id}(id= *{getId()})}" class="admin-delete-btn">Delete</a>-->
              </section>
              <!-- SHOW IT , IF THE ADMIN IS LOGGED IN! -->
              <section class="user-self-ad">
              <th:block class="user-self-ad" th:if="*{canDelete}">
                <article class="user-self-ad-edit">
                  <form th:method="get" th:action="@{/users/offers/edit/{id}(id= *{getId()})}">
                    <input class="user-btn edit" type="submit" value="Edit">
                  </form>
                  <!--                <a th:href="@{/users/offers/edit/{id}(id= *{getId()})}" class="user-btn edit">Edit</a>-->
                </article>
                <article class="user-self-ad-delete">
                  <form th:method="delete" th:action="@{/users/offers/delete/{id}(id= *{getId()})}">
                    <input class="user-btn delete" type="submit" value="Delete">
                  </form>
                  <!--                <a th:href="@{/users/offers/delete/{id}(id= *{getId()})}" class="user-btn delete">Delete</a>-->
                </article>
              </th:block>
              </section>
            </section>


            <section class="views">
              <label class="views-label" for="views-number">Views:</label>
              <span class="views-number">123</span>
            </section>
          </article>
        </section>

      </div>
    </main>

    <script th:replace="fragments/navbar::script-index"></script>
    <script src="/js/vehicle-info.js"></script>
  </body>
</html>
