<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:replace="fragments/navbar::head"></th:block>
    <title>Catalog</title>
  </head>

  <body>
    <header th:replace="fragments/navbar::header"></header>

    <main>
      <div class="catalog-container">
        <div class="vehicle-catalog-card" th:each="vehicle : ${offers}" th:object="${vehicle}">
          <a class="" th:href="@{/users/offers/{id}(id=*{id})}">
            <section class="vehicle-card-pic">
              <img th:src="*{getPictures().get(0).getUrl()}" alt="img" />
            </section>
          </a>
          <section class="vehicle-card-information">
            <article class="vehicle-info">
              <h3 class="vehicle-used-status" th:text="*{getVehicleStatus()}">Used</h3>
              <h4 class="vehicle-title" th:text="*{getBrand() + ' ' + getModel() + '   ' + getModification()}">BMW X6 <span> 3.2 dCi</span></h4>
              <h2 class="vehicle-price" th:text="*{getPrice + '  ' + getPriceType}">12000 <span>BGN</span></h2>
              <h3 class="vehicle-kilometers" th:text="*{getKilometer + '  km'}">123450 <span>km</span></h3>
              <h2 class="vehicle-from" th:text="*{getFrom}">Varna</h2>
            </article>
          </section>
        </div>



        

        
      </div>
    </main>
    <script th:replace="fragments/navbar::script-index"></script>
  </body>
</html>
